body{
    margin: 0;
    font-family: 'Allerta', sans-serif;
}
.contenedor {
    width: 800px;
    margin: auto;
}
.titulo{
    margin-top: 70px;
    margin-bottom:0;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
}
.titulo span{
    text-decoration-line: underline;
}
.portada{
    background-image: url('../images/background.png');
    background-size: cover;
    padding: 20px;
    color: white;
    height: 500px;
}

.title-a{
  margin-bottom: 50px;
  margin-top: 0; 
  font-size: 24px
}
.title-b{
    margin-bottom: 10;
    margin-top: 50px; 
    font-size: 45px
}
.guitarras{
    color: #1F313C;
    margin-bottom: 60px ;
}
.guitarras h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}
.menu{
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
}
.menu li{
    margin-left: 30px;
    display: inline-block;
}
.logotipo{
    display: inline-block;
    margin-left: 0;
}
.portada button {
    margin-bottom: 50px;
   
}
.header{
    width: 800px;
    margin: auto;
    font-family: 'Montserrat';
}

.derecha {
    float: right;
    position: relative;
    top: -109px;
}
.izquierda {
    float: left;
    position: relative;
}
.guitarra{
    margin: 10px;
    /*overflow: hidden;*/
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.guitarra ol{
    padding: 0;
}

.guitarra.b{
    height: 190px;
}

.contenedor-guitarra-a {
    padding-left: 20px;
    position: relative;
}

.contenedor-guitarra-b {
    margin-left: 370px;
    position: relative;
    bottom: 90px; 

} 

.header {
    position: relative;
}
.button {
    border-radius: 12px;
    background: crimson;
    border: none;
    padding: 8px;
    color: white;
    font-size: 18px;
    background: linear-gradient(to left, #fe344e, #ff7250);
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}
.footer {
    background: #273b47;

}
.contacto img{
    display: block;
    padding-top: 30px;
}
.contacto strong{
    display: block;
    text-decoration: none;
}
.contacto a{
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 0;
}
.footer .contenedor{
    display: flex;
    justify-content: space-between;
}
.contacto {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
}
.formulario {
    display: flex;
    width: 400px;
    color: white;
    padding: 50px 10px;
}
.col1, .col2{
    display: flex;
    flex-direction: column;
}
.col1{
    margin-right: 15px;
}

.col2{
     align-items: flex-start;
}

.intereses label{
    font-size: 12px;
    
}
.formulario label, .sexo, .intereses{
    margin-bottom: 10px;
}
.sexo {
    margin-top: 10px;
}

table{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

}

th{
    background: #273b47;
    color: aliceblue;
}

th{
    padding: 10px 20px;
    text-align: left;
}
td {
    padding: 20px;
}
table, td ,th {
    border: 1px solid #273b47;
    border-collapse: collapse;
}
.menu li:before {
    content: '⦿';
    color: #ffffff;

}
.menu a{
    color: #ffffff;
    text-decoration: none;
}

.email-a{
    margin-top: 10px;
}
